<component name="ArtifactManager">
  <artifact build-on-make="true" name="plugin">
    <output-path>$PROJECT_DIR$/out/artifacts/plugin</output-path>
    <root id="root">
      <element id="dir-copy" path="$PROJECT_DIR$/dep" />
      <element id="directory" name="google-app-engine-api">
        <element id="directory" name="lib">
          <element id="zip-archive" name="google-app-engine-api.jar">
            <element id="module-output" name="google-app-engine-api" />
          </element>
        </element>
      </element>
      <element id="directory" name="google-go-app-engine">
        <element id="directory" name="lib">
          <element id="zip-archive" name="google-go-app-engine.jar">
            <element id="module-output" name="google-go-app-engine" />
          </element>
        </element>
      </element>
      <element id="directory" name="google-php-app-engine">
        <element id="directory" name="lib">
          <element id="zip-archive" name="google-php-app-engine.jar">
            <element id="module-output" name="google-php-app-engine" />
          </element>
        </element>
      </element>
      <element id="directory" name="google-py-app-engine">
        <element id="directory" name="lib">
          <element id="zip-archive" name="google-py-app-engine.jar">
            <element id="module-output" name="google-py-app-engine" />
          </element>
        </element>
      </element>
      <element id="directory" name="google-py-app-engine-api">
        <element id="directory" name="lib">
          <element id="zip-archive" name="google-py-app-engine-api.jar">
            <element id="module-output" name="google-py-app-engine-api" />
          </element>
        </element>
      </element>
      <element id="directory" name="google-java-app-engine">
        <element id="directory" name="lib">
          <element id="zip-archive" name="google-java-app-engine.jar">
            <element id="module-output" name="google-java-app-engine" />
          </element>
        </element>
      </element>
    </root>
  </artifact>
</component>